{{>layout/header}}
<br><br><br>
<h1 class="m-lg-3"><strong>글 목록</strong></h1>
<br><br>
<select class="m-lg-3" id="select-sort">
    <option>정렬순</option>
    <option value="s1">최신순</option>
    <option value="s2">조회수순</option>
    <option value="s3">좋아요순</option>
</select>

<!-- 목록 촐력 영역 -->
<table class="table table-horizontal table-bordered">
    <thead class = "thead-string">
    <tr>
        <th>제목</th>
        <th>작성자</th>
        <th>소속</th>
        <th>조회수</th>
        <th>좋아요</th>
        <th>날짜</th>
    </tr>
    </thead>
    <tbody id="tbody">
    {{#posts}}
        <tr>
            <td><a href="/posts/view/{{id}}">{{title}}</a></td>
            <td>{{userID}}</td>
            <td>{{clubID}}</td>
            <td>{{hits}}</td>
            <td>{{likes}}</td>
            <td>{{createdate}}</td>
        </tr>
    {{/posts}}
    </tbody>
</table>
</div>
<a href="/posts/save" role="button" class="btn btn-primary m-lg-3">글쓰기</a>
{{>layout/footer}}
<script src="/static/js/app/sorts.js"></script>
<!--<script src="/static/js/app/addHit.js"></script>-->
</body>
</html>