{{>layout/header}}
<br><br>
<h1><strong>{{post.title}}</strong></h1>
<div class="col-md-12">
    <div class="col-md-4">
        <input type="hidden" class="form-control" id="postID" value="{{post.postID}}" readonly>
        <label for="id">작성자: </label>
        {{post.userID}}
        <br>
        <label for="time1">작성 시간: </label>
        {{post.createdate}}
        <br>
        <label for="time2">수정 시간: </label>
        {{post.modifieddate}}
        <br>
        <label for="club">소속: </label>
        {{post.club}}
        <br>
        <label for="content">본문: </label>
        {{post.content}}
    </div>
</div>
<a href="javascript:window.history.back();" role="button" class="btn btn-secondary">뒤로</a>
<a href="/posts/update/{{post.postID}}" role="button" class="btn btn-primary">수정</a>
<button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
{{>layout/footer}}
<script src="/static/js/app/delete.js"></script>
</body>
</html>