{{>layout/header}}
<br><br><br>
<main role="main">
    <div class="container">
                <h1><strong>게시글</strong></h1>
                <br>
                <form class>
                    <input type="hidden" class="form-control" id="postID" value="{{post.postID}}" readonly>
                    <div class="form-group">
                        <label for="id">글 제목 </label>
                        <input type="text" class="form-control" id="id" value="{{post.title}}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="id">작성자 </label>
                        <input type="text" class="form-control" id="id" value="{{post.user.nickname}}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="time1">작성 시간 </label>
                        <input type="text" class="form-control" id="id" value="{{post.createdate}}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="time2">수정 시간 </label>
                        <input type="text" class="form-control" id="id" value="{{post.modifieddate}}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="time2">조회수 </label>
                        <input type="text" class="form-control" id="id" value="{{post.hits}}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="club">소속 </label>
                        <input type="text" class="form-control" id="id" value="{{post.club}}" readonly>
                    </div>
                    <br>
                    <label for="content"><h2><strong>본문</strong></h2></label>
                    <textarea class="form-control" id="content" readonly hidden>{{post.content}}</textarea>

                    <div class="form-group" id="viewer"></div>
                    <a href="javascript:window.history.back();" role="button" class="btn btn-secondary">뒤로</a>
                    {{#writer}}
                        <a href="/posts/update/{{post.postID}}" role="button" class="btn btn-primary">수정</a>
                        <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
                    {{/writer}}
                </form>
    </div>
</main>
<!--<a href="/posts/update/{{post.postID}}" role="button" class="btn btn-primary">수정</a>-->
{{>layout/footer}}
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script src="/static/js/app/delete.js"></script>
<script src="/static/js/app/view.js"></script>
</body>
</html>